__pycache__
db.sqlite3
virtualenv
virtualpython
config.ini
AWS.txt
prueba.ipynb


requirementes_windows.txt
main.py
co.csv
world.geojson
agus.py
venv
Analisis_greaficos.ipynb
env
requirementes_windows.txt