.legend {
    line-height: 18px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
