{% extends 'partials/base.html' %}
{% load static %}

{% block contentplotly %}
    <!-- aqui van a ir los graficos en plotly -->
    aqui van las funciones de plotly
    <!-- aqui van a ir los graficos en plotly -->
{% endblock contentplotly %}

{% block contentfilters %}
    <!-- aqui van los filtros -->
    <!-- aqui van los filtros -->
    <!-- aqui van los filtros -->
    aqui van los filtros
    <br>
    aqui van los filtros
    <br>
    aqui van los filtros
    <br>
    aqui van los filtros
    <br>
    aqui van los filtros
    <!-- aqui van los filtros -->
    <!-- aqui van los filtros -->
    <!-- aqui van los filtros -->
    <!-- aqui van los filtros -->
{% endblock contentfilters %}