{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">


  <!-- para compatibilidad con navegadores más antiguos -->
  <!-- <script async src="{%static 'https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js' %}"></script> -->

</head>

<body>
  <header>
    <div class="title">
      <h3>EMISSIONS MAPS</h3>
    </div>
    <div class="header__main">
      <p>Team</p>
      <p>Open Source</p>
    </div>
  </header>
  <main>
    <div class="main__container">
      {{map|safe}}
    </div>
    <div class="aside__right">
      <div class="ar" id="click__right">FILTERS</div>
      <div class="ari"></div>
    </div>
    <div class="aside">
      <div class="aright1" id="click__left__open">FILTERS</div>
      <div class="aright2"></div>
    </div>
    <div class="aside__left">
      <div id="click__left__close">cerrar</div>
      <div ></div>
    </div>
  </main>
  <script src="{% static 'js/style.js' %}"></script>




  <!-- <canvas id="mapa"></canvas> -->
  <!-- <canvas id="myCanvas" style="width: 500px; height: 500px"></canvas>
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.139.2/build/three.module.js"
          }
        }
      </script>
      <script type="module" src="{% static 'js/three.js' %}"></script> -->
</body>

</html>